body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1d1d1d;
}
.menu {
  min-width: 100%;
  height: 60px;
  background-color: #68b440;
  display: flex;
  align-items: center;
  position: fixed;
}
.menu-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.menu-content a {
  text-decoration: none;
  padding: 15px;
  color: black;
  border-radius: 5px;
  text-shadow: 3px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vh;
}
.menu-content a:hover {
  background-color: #f1f1f1;
  color: #68b440;
  transition: 0.5s;
}
.menu-content {
  height: 60px;
  align-content: center;
}
.menu-logo {
  width: 80px;
  height: 60px;
  background-color: #68b440;
  margin-left: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: white;
}
.main-title {
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 50px;
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid #68b440;
  white-space: nowrap;
  animation: typing 2s steps(60, end), effect 0.75s step-end infinite;
}
.mint-style {
  background-color: #68b440;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.mint-offer {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.preview-img {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.preview-img img {
  width: 100%;
  border-radius: 5px;
}
.advantages {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.advantages-title {
  font-size: 1.7em;
  text-align: center;
  margin-top: 65px;
}
.advantages-item {
  display: flex;
  flex-direction: row;
  background-color: #68b440;
  width: 100%;
  padding: 10px;
}
.advantages-item img {
  width: 100px;
  height: 100px;
}
.advantages-item-desc {
  height: 100%;
  margin: 15px;
}
.advantages-item-desc p {
  text-align: center;
  height: 100%;
  font-size: 1.3em;
  color: #1d1d1d;
}
.story-page {
  background-color: #68b440;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  width: 50%;
  transform: translateX(50%);
  min-height: 320px;
}
.story-page-title {
  font-size: 1.7em;
  text-align: center;
}
.story-page-content {
  margin-top: 20px;
}
.story-page-content a {
  color: #1d1d1d;
}
.story-link {
  text-align: center;
  justify-self: center;
  font-size: 1.7em;
  padding: 10px;
}
.story-link img {
  width: 80px;
  height: 80px;
  background-color: #68b440;
  margin-left: 10px;
}
.download-container {
  margin-top: 20px;
  width: 50%;
  background-color: #68b440;
  transform: translateX(50%);
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 320px;
}
.download-title {
  font-size: 1.7em;
  text-align: center;
}
.download-content {
  margin-top: 20px;
}
.download-item {
  text-align: center;
  justify-self: center;
  font-size: 1.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.download-item a {
  color: #1d1d1d;
}
.download-item img {
  width: 80px;
  height: 80px;
  background-color: #68b440;
  margin-left: 10px;
}

/* FOR JS */

.hidden {
  opacity: 0;
  transition: all 2s;
}

.visible {
  opacity: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1340px) {
  .download-title {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 1100px) {
  .main-title {
    font-size: 0.5em;
  }
  .advantages-item img {
    width: 80px;
    height: 80px;
  }
  .advantages-item-desc p {
    font-size: 1em;
  }
  .preview-img {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  .main-title {
    font-size: 0.5em;
  }

  .advantages-title {
    font-size: 1em;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .preview-img {
    width: 97vw;
  }
}
@media screen and (max-width: 600px) {
  .main-title {
    font-size: 0.3em;
  }
  .advantages-item img {
    width: 60px;
    height: 60px;
  }
  .advantages-item-desc p {
    font-size: 0.7em;
  }
  .preview-img {
    width: 97vw;
  }
  .download-container {
    width: 80%;
    transform: translateX(10%);
    margin: 10px;
  }
  .story-page {
    width: 80%;
    transform: translateX(10%);
    margin: 10px;
  }
  .download-item {
    font-size: 1em;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes effect {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #68b440;
  }
}

@keyframes from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes from-hidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
